:root {
    --violet: hsl(257, 40%, 49%);
    --soft-magenta: hsl(300, 69%, 71%);
    --light-gray: hsl(0, 0%, 80%);
    --white: hsl(0, 0%, 100%);
}

html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    padding: 2rem 2.25rem 2.375rem 2.25rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    background-color: var(--violet);
    background-image: url(images/bg-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}


/* mobile layout */
.page__logo {
    background-image: url(images/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 1rem;
    margin: 0 0 0 -3px;
}

.page__hero {
    background-image: url(images/illustration-mockups.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    padding: 6.75rem;  
    margin: 3.6875rem 0 3.75rem 0;
}

.page__text {
    color: var(--white);
    text-align: center;
    padding: 0 0 3.875rem 0;
}

.page__title {
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: -.1px;
    padding: 0 0 .875rem 0;
}

.page__pitch {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    padding: 0 0 1.5rem 0;
}

.page__register {
    display: inline-block;
    text-decoration: none;
    width: 12.5rem;
    border-radius: 2.8125rem;
    background-color: var(--white);
    color: var(--violet);
    font-size: .75rem;
    padding: 0.6875rem 0 0.625rem 0;
    box-shadow: 2px 3px 10px 0px hsl(273, 18%, 24%);
    transition: all 200ms;
}

.page__register:hover {
    background-color: var(--soft-magenta);
    color: var(--white);
}

.page__social {
    grid-column-start: 2;
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.page__social-links {
    padding: 0 0.25rem 0 0.25rem;
}

.page__icon {
    margin: 0 .3rem 0 .3rem;
}

svg {
    width: 1.875rem;
    height: 1.875rem;
    transition: all 200ms;
}

svg:hover {
    fill: var(--soft-magenta);
}


/* desktop layout */
@media screen and (min-width: 1000px) {
    
    body {
        position: relative;
        background-image: url(images/bg-desktop.svg);
        background-repeat: no-repeat;
        background-size: cover;
        padding: 0 0 0 0;
    }
    
    .page {
        display: grid;
        grid-template-columns: 56% 1fr;
        grid-template-rows: 1fr;
        flex: 1;
    }
    
    .page__desktop-left {
        grid-column-start: 1;
        padding: 3.375rem 0 0 3.125rem;
    }

    .page__desktop-right {
        grid-column-start: 2;
        display: flex; 
        flex-direction: column;
        justify-content: center;
        padding: 0 5.625rem 1.4375rem 1.8125rem;
    }

    .page__logo {
        padding: 1.6875rem;
        margin: 0 0 0 1.25rem;
    }

    .page__hero {
        padding: 15.875rem;
        margin: 5.3125rem 0 0 0;
    }

    .page__text {
        text-align: left;
        padding: 0 0 0 0;
    }
    
    .page__title {
        font-size: 2.5rem;
    }

    .page__pitch {
        font-size: 1.1rem;
        letter-spacing: .2px;
        padding: 0.5rem 0 .9rem 0;
    }

    .page__register {
        grid-column-start: 2;
        grid-row-start: 5;
        width: 12.5rem;
        font-size: 1.1rem;
        text-align: center;
        padding: 0.9375rem 0;
        margin: 0.625rem 0 0 0;
    }

    .page__share {
        position: absolute;
        bottom: 2.0625rem;
        right: 4.5625rem;
    }

    .page__social {
        display: flex;
    }
    
    .page__social-links {
        padding: 0 0.5rem 0 0.5rem;
    }
    svg {
        width: 2.5625rem;
        height: 2.5625rem;
    }

    .page__icon {
        width: 2.5rem;
        margin: 0 .5rem 0 .5rem;
    }

}

