:root {
    --violet: hsl(257, 40%, 49%);
    --soft-magenta: hsl(300, 69%, 71%);
    --light-gray: hsl(0, 0%, 80%);
    --white: hsl(0, 0%, 100%);
}

html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--violet);
    width: 23.4375rem;
    padding: 32px 36px 38px 36px;
    margin: 0 auto;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url(images/bg-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
}

/* --mobile version-- */

.logo {
    background-image: url(images/logo.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 7.8125rem;
    height: 1.5625rem;
}

.page__hero {
    background-image: url(images/illustration-mockups.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 18.875rem;
    height: 13.375rem;
    margin: 4.1875rem 0 3.75rem 0;
}

.page__text {
    color: var(--white);
    text-align: center;
    padding-bottom: 4rem;
}

.page__title {
    font-size: 1.5rem;
    font-weight: 600;
    padding-bottom: 0.875rem;
    letter-spacing: -.1px;
}

.page__pitch {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    padding-bottom: 1.5rem;
    line-height: 1.5;
}

.page__register {
    padding: 0.6875rem 0 0.625rem 0;
    display: inline-block;
    text-decoration: none;
    width: 12.5rem;
    color: var(--violet);
    background-color: var(--white);
    border-radius: 45px;
    font-size: .75rem;
    box-shadow: 2px 3px 10px 0px hsl(273, 18%, 24%);
}

.page__social {
    grid-column-start: 2;
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.page__icon {
    width: 1.75rem;
    margin: 0 .3rem 0 .3rem;
}

.attribution {
    font-size: .6rem;
    text-align: center;
    color: hsl(0, 0%, 100%);
    position: absolute;
    bottom: 1.25rem;
}

.attribution__link {
    color: var(--soft-magenta);
}

/* desktop version */
@media screen and (min-width: 1000px) {
    
    .body {
        background-image: url(images/bg-desktop.svg);
        /* background-image: url(design/desktop-design.jpg); */
        background-repeat: no-repeat;
        background-position: top left;
        background-size: cover;
    }

    .page {
        display: grid;
        grid-template-columns: 58% 1fr;
        grid-template-rows: auto auto;
        align-items: center;
        padding-top: 3rem;
        padding-left: 5rem;
        padding-right: 5rem;
        padding-bottom: 2.5rem;
        column-gap: 2rem;
        max-width: 87.5rem;
    }
    
    .page__graphics {
        padding-bottom: 0.75rem;
    }

    .page__logo {
        padding-bottom: 4.7rem;
        width: max(13rem, 41%);
    }

    .page__text {
        text-align: left;
        padding-bottom: 0;
    }
    
    .page__title {
        font-size: 2.5rem;
        padding-top: .9rem;
    }

    .page__pitch {
        font-size: 1.05rem;
        padding-bottom: .9rem;
    }

    .page__register {
        width: 12.5rem;
        text-align: center;
        font-size: 1.1rem;
        padding: 0.9375rem 0;
    }

    .page__social {
        justify-content: flex-end;
    }

    .page__icon {
        width: 2.5rem;
    }

}
/* change log

5/25/2022 - Updates to increase responsiveness
5/24/2022 - Redo mobile & desktop layouts
5/23/2022 - Body update
6/13/2022 - Refactor mobile version 

*/